.App {
  text-align: center;
}

.animate-spin {
  animation: spin 3s infinite linear;
  margin: auto;
}

.editwindow-base {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editwindow-base input {
  margin-bottom: 5px;
}

.editwindow-base button {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 30px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
