.App {
  text-align: center;
}

.animate-spin {
  animation: spin 3s infinite linear;
  margin: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
