html {
  background-color: var(--primary-background-color);
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-foreground-color);
  background-color: var(--primary-background-color);
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-background-color: #273b4f;
  --secondary-background-color: #1d778e;
  --border-color: #9facbd;
  --primary-foreground-color: #24b382;
  --secondary-foreground-color: #69ebb7;
}
